.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 10px 20px 10px 270px;
  background-color: #fff;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  z-index: 8;
}
.header .header_title {
  grid-column: 1/2;
  font-size: 32px;
  color: #555;
  text-transform: capitalize;
}
.header .header_control {
  display: flex;
  gap: 40px;
  align-items: center;
  justify-content: flex-end;
}
.header .header_control .search_form {
  position: relative;
}
.header .header_control .search_form .search_btn {
  position: absolute;
  left: 8px;
  top: 5px;
  border: none;
  outline: 0 !important;
  background: none;
  color: #d7d7d7;
  cursor: pointer;
}
.header .header_control .search_form input {
  outline: 0 !important;
  max-width: 300px;
  width: 300px;
  border: 2px solid #d7d7d7;
  padding: 8px 10px 8px 30px;
  border-radius: 20px;
}
.header .header_control .header_user {
  display: flex;
  gap: 20px;
}
.header .header_control .header_user .header_user_icon {
  cursor: pointer;
  position: relative;
  margin-top: 10px;
}
.header .header_control .header_user .header_user_icon .icon {
  width: 30px;
  height: 30px;
  color: #0d647c;
}
.header .header_control .header_user .header_user_icon span {
  position: absolute;
  right: -8px;
  top: -8px;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  color: #fff;
  outline: 1px solid #fff;
  background-color: #66c2d6;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.header .header_control .header_user .header_user_avatar {
  max-width: 40px;
  cursor: pointer;
}
.header .header_control .header_user .header_user_avatar img {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

@media (max-width: 1024px) {
  .header {
    padding-left: 60px;
  }
}
@media (max-width: 768px) {
  .header {
    grid-template-columns: repeat(1, 1fr);
    text-align: center;
  }
  .header .header_control {
    justify-content: space-between;
  }
}
@media (max-width: 580px) {
  .header .header_control {
    justify-content: space-between;
  }
  .header .header_control .search_form input {
    width: 200px;
  }
}